---
layout: default
description: Template for team page.
---

{% if page.phds and site.data[page.phds] %}
  {% assign phds = site.data[page.phds] %}
{% elsif site.data.phds %}
  {% assign phds = site.data.phds %}
{% endif %}

{% if page.profs and site.data[page.profs] %}
  {% assign profs = site.data[page.profs] %}
{% elsif site.data.profs %}
  {% assign profs = site.data.profs %}
{% endif %}

{% if page.researchers and site.data[page.researchers] %}
  {% assign researchers = site.data[page.researchers] %}
{% elsif site.data.researchers %}
  {% assign researchers = site.data.researchers %}
{% endif %}

{{ content }}

<h1 class="d-flex">Faculty</h1>
{% for member in profs %}
  <div class="d-flex team-member">
    <div class="flex-shrink-0 me-3">
      {% if member.image %}
        <img src="{{ member.image | relative_url }}" alt="{{ member.name }}">
      {% endif %}
    </div>
    <div>
      {% if member.url %}
      <a href="{{ member.url }}" target="_blank">
        <h5 id="{{ member.name | strip | url_encode }}">
          {{ member.name }}
          {% if member.role %}
            <small class="text-muted">| {{ member.role }}</small>
          {% endif %}
        </h5>
      </a>
      {% else %}
        <h5 id="{{ member.name | strip | url_encode }}">
          {{ member.name }}
          {% if member.role %}
            <small class="text-muted">| {{ member.role }}</small>
          {% endif %}
        </h5>
      {% endif %}

      {{ member.description | markdownify }}

    </div>
  </div>
{% endfor %}

<h1 class="d-flex">Researchers</h1>
{% for member in researchers %}
<div class="d-flex">
  <div>
    {% if member.url %}
    <a href="{{ member.url }}" target="_blank">
      <h5 id="{{ member.name | strip | url_encode }}">
        {{ member.name }}
        {% if member.role %}
          <small class="text-muted">| {{ member.role }}</small>
        {% endif %}
      </h5>
    </a>
    {% else %}
      <h5 id="{{ member.name | strip | url_encode }}">
        {{ member.name }}
        {% if member.role %}
          <small class="text-muted">| {{ member.role }}</small>
        {% endif %}
      </h5>
    {% endif %}

  </div>
</div>
{% endfor %}

<h1 class="d-flex">Ph.D. Students</h1>

<div style="column-count: 2;">
    {% for member in phds %}

      <div class="d-flex col">
        {% if member.url %}
        <a href="{{ member.url }}" target="_blank">
          <h5 id="{{ member.name | strip | url_encode }}">
            {{ member.name }}
            {% if member.role %}
              <small class="text-muted">| {{ member.role }}</small>
            {% endif %}
          </h5>
        </a>
        {% else %}
          <h5 id="{{ member.name | strip | url_encode }}">
            {{ member.name }}
            {% if member.role %}
              <small class="text-muted">| {{ member.role }}</small>
            {% endif %}
          </h5>
        {% endif %}
      </div>
    {% endfor %}
</div>

<h1 class="d-flex">Alumni</h1>